.boite10 {
  height: 250px;
  width: 250px;
  padding: 20px;
  border: 2px solid black; 
  background-image: url("../../img/logo.png"), url("../../img/fond-bleu.jpg");
  background-repeat: no-repeat;
  background-position: bottom right; 
  }
  